@font-face {
    font-family: 'Instagram';
    src: url('./src/Instagram.ttf');

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.container {
    display:flex;
    justify-content: center;
    align-items: stretch;
    margin: 32px auto;
    padding-bottom: 32px;
    flex: 1;
}


.mobile_img {
    margin:0 32px 12px 0;
}

.box {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.box__logIn {
    margin:8px;
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    vertical-align: baseline;
}
.box__logIn:last-child {
    display: flex;
    flex-direction: row;
}

.box__logIn h1 {
    font-family: 'Instagram';
    font-size: 43px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 32px auto 12px auto;
    cursor:pointer;
}

.logIn__form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: flex-start;
font: inherit;
margin-top: 24px;
}

.logIn__form input {
    cursor: text;
    min-width: 270px;
    padding: 9px 0 7px 8px;
    margin: 3px auto;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;
    background-color: rgb(250, 250, 250);
    font-size: 12px;
}

.logIn__form button{
    min-width: 270px;
    margin: 10px auto;
    padding: 7px 16px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(0, 149, 246);
    opacity: 0.7;
    border:none;
    border-radius: 8px;
}

.box__separator {
    margin:14px auto 22px auto;
    min-width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    background-color: rgb(219, 219, 219);
    height: 1px;
    margin: 0 10px;
    width: 111px;
}
.letter {
    font-size: 14px;
    font-weight: 600;
    color: rgb(115, 115, 115);
    margin: 0 3px;    
}

.facebook {
    min-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.facebook__button {
    border: none;
    background: none;
    margin:16px 0;
}
.facebook__button--link {
    color: rgb(0, 55, 107);
    font-weight: 600;
    font-size: 16px;
}
.facebook__button span {
    margin:0 2px;
}

.facebook a {
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    padding: 16px 0;
    color: rgb(0, 55, 107);
    width:80%;
}

.report::before {
    content: 'También puedes ';
    color: rgb(115, 115, 115);
}
.report::after {
    content: ' en tu país sin iniciar sesión.';
    color: rgb(115, 115, 115);
}
a.report:hover {
    text-decoration: underline;
}

a.register {
    color: rgb(0, 149, 246);
    font-weight: 600;
    text-decoration: none;
    padding: 12px 0
}
a.register::before {
    content: '¿No tienes cuenta? ';
    color: initial;
    font-weight: initial;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:12vh;
}

.link_container {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: auto;
    margin-bottom: 25px;
    color: rgb(115, 115, 115);
    font-size: 12px;
}
.link {
    padding: 0 8px;
}
.link a, .link select {
    text-decoration: none;
    color: rgb(115, 115, 115);
    border: none;
}


/** RESPONSIVE */
/*  Tablets --------------------- */

@media screen and (max-width:875px) {
    .mobile_img {
        display:none;
    }
}

@media screen and (max-width: 450px) {
    .box__logIn {
        border: none;
        margin:8px;
        padding:0;
    }
}