* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

/*********************** Estructrua Grid ***********************/

.grid__container {
  height: 100vh;
  display: grid;
  grid-template-columns: [x0] 2fr [x1] 1fr [x2] 1fr [x3];
  grid-template-rows: [y0] 0.5fr [y1] 3fr [y2] 0.5fr [y3];
}

.grid__header {
  grid-column: x0 / x3;
  grid-row: y0 / y1;
  background-color: black;
  text-align: center;
}

.grid__contenido {
  grid-column: x0 / x2;
  grid-row: y1/ y2;
  background-color: blue;
  color: white;
  text-align: left;
  display: grid;
  grid-template-columns: [x0] 2fr [x1] 1fr [x2];
  grid-template-rows: [y0] 1fr [y1] 2fr [y2];
}
.grid__contenido-1 {
  grid-column: x0/x2;
  grid-row: y0/y1;
}
.grid__contenido-2 {
  grid-column: x0/x1;
  grid-row: y1/y2;
}
.grid__contenido-2 {
  grid-column: x1/x2;
  grid-row: y1/y2;
}

.grid__menu {
  grid-column: x2 / x3;
  grid-row: y1 / y2;
  background-color: #00d29f;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: [x0] 1fr [x1];
  grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3] 1fr [y4];
}
.grid__menu-1 {
  grid-column: x0/x1;
  grid-row: y0/y1;
}
.grid__menu-2 {
  grid-column: x0/x1;
  grid-row: y1/y2;
}
.grid__menu-3 {
  grid-column: x0/x1;
  grid-row: y2/y3;
}
.grid__menu-4 {
  grid-column: x0/x1;
  grid-row: y3/y4;
}

.grid__footer {
  grid-column: x0 / x3;
  grid-row: y2 / y3;
  background-color: purple;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 1fr [x2];
  grid-template-rows: [y0] 1fr [y1];
}
.grid__footer-1 {
  grid-column: x0/x1;
  grid-row: y0/y1;
}
.grid__footer-2 {
  grid-column: x1/x2;
  grid-row: y0/y1;
}

/*********************** Estilo elementos ***********************/
.grid__item {
  margin: 20px;
  padding: 10px;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.item--bordeBlanco {
  border: 3px solid white;
}

.item--bordeNegro {
  border: 3px solid black;
}

.item--fondoNegro {
  background-color: black;
}

.item--main {
  font-size: 32px;
  font-weight: 700;
}

.item--texto-arriba-izq {
    display: flex; 
    align-items: flex-start; 
    justify-content: flex-start;
}
