.grid__container {

    display: grid;
    grid-template-columns: 500px 250px 500px;
    grid-template-rows: 300px 300px;
}

.grid__item--a {
    text-transform:uppercase;
    background-color: #9DFE4C;
    color: white;
    font-size: x-large;
    text-align: center;
  }

.grid__item--b {
    text-transform:uppercase;
    background-color: #FF962D;
    color: white;
    font-size: x-large;
    text-align: center;
  }

.grid__item--c {
    text-transform:uppercase;
    background-color: #FE5E22;
    color: white;
    font-size: x-large;
    text-align: center;
  }

.grid__item--d {
    text-transform:uppercase;
    background-color: #FF0018;
    color: white;
    font-size: x-large;
    text-align: center;
  }

.grid__item--e {
    text-transform:uppercase;
    background-color: #0028F4;
    color: white;
    font-size: x-large;
    text-align: center;
  }

.grid__item--f {
    text-transform:uppercase;
    background-color: #FFFC43;
    color: white;
    font-size: x-large;
    text-align: center;
  }
