@import url("./styles.css");

/*? Elementos diseñados --------------------------*/

/** Hero ---------*/

.hero {
  /* añadir en cada sección la backgorund-image que corresponda */
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position-y: center;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/** Caja contadores ---------*/

/* estructura html 
<div class="counterBoxContainer">    
    <div class="counterBox">
        <p></p>
        <p></p>
    </div>
    <div class= "counterBox">...</div>
    <div class= "counterBox">...</div>
</div>

ejemplo:
<div class="counterBoxContainer">  
    <div class="counterBox">
        <p>91%</p>
        <p>Tasa de empleabilidad</p>
    </div>
</div>
*/

.counterBoxContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}
.counterBox {
  text-align: center;
  padding: 3% 2%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.counterBox p {
  width: 100% !important;
}
.counterBox p:first-child {
  font-size: 50px !important;
}
.counterBox p:last-child {
  font-size: 18px !important;
}

/** Caja CTA ---------*/
/* estructura html 
<div class="ctaBoxContainer">
<div class="ctaBox">
    <h6></h6>
    <h4></h4>
    <p></p>
    <a><button></button></a>
</div>

ejemplo:
<div class="ctaBoxContainer">
<div class="ctaBox">
    <h6>EN REMOTO | FULL TIME O PART TIME</h6>
    <h4>Data Analytics</h4>
    <p>El Bootcamp de Desarrollo Web Full Stack te convertirá en un profesional capasitado pata desempeñar esta función en una empresa. Aprenderás a crear páginas web y aplicaciones móviles haciendo uso de las tecnologías más demandadas en la industria. Sin necesidad de conocimientos previos, nuestro Bootcamp te convierte en un profesional de la programación totalmente preparado para añadir valor en el mercado laboral desde el primer día.</p>
    <a href="#"><button>Más información</button></a>
</div>
*/

.ctaBoxContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0 2% 0;
  gap: 2%;
}
.ctaBox {
  background-color: var(--blanco);
  color: var(--negro);
  width: 50%;
  height: 55vh;
  padding: 6% 4%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex: 1;
}
.ctaBox h4,
.ctaBox h6,
.ctaBox p {
  text-align: left !important;
}
.ctaBox h6 {
  font-size: 0.6rem;
  padding: 5px;
}
.ctaBox h4 {
  color: Var(--azul);
}
.ctaBox p {
  font-size: 16px !important;
}
.ctaBoxLink {
  color: var(--blanco);
  text-decoration: none;
  background-color: var(--negro);
  padding: 2% 5%;
  margin-top: 7%;
  border: none;
  font-size: 14px;
  font-family: var(--texto);
  font-weight: 600;
  transition: background-color 0.3s;
}

.ctaBoxLink:hover {
  background-color: var(--azul);
}
/** Caja con icono/imagen ---------*/
/* estructura HTML
<div class="iconBoxContainer">
    <div class="iconBox">
      <div class="icon">
        <img src="" alt="figura">
      </div>
      <div class="iconText">
        <h3></h3>
        <p></p>
      </div>
    </div>
</div>
ejemplo:
<div class="iconBoxContainer">
    <div class="iconBox">
        <img src="./src/imagenes/figure1@2x-400x278.png" alt="figura">
        <h3>Impulsa tu carrera profesiona</h3>
        <p>Aprende las competencias digitales que te abrirán las puertas del futuro.
            <br>
            <br>
            Prepárate y entrena trabajando como lo harás en la empresa, con metodologías ágiles. Estarás completamente capacitado como profesional tecnológico.</p>
    </div>
</div>
*/
.iconBoxContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2% 0;
  gap: 2;
}
.iconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.33%;
  padding: 3%;
}
.iconBox:first-of-type {
  padding: 3% 3% 0 0;
}
.iconBox:last-of-type {
  padding: 3% 0% 0 3%;
}

.icon {
  flex: 1; /* Permite que el icono se estire */
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconBox img {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Alinea las imágenes en la parte inferior */
  height: 200px;
  object-fit: cover;
}
.iconText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Alinea los h3 al final */
  margin-top: 5%;
}
.iconText h3 {
  font-size: 1.6rem !important;
  padding-bottom: 5%;
}
.iconText p {
  font-size: 0.8rem !important;
}

/** Citas ---------*/
/* 
estructura HTML:
<div class="quote">
  <img src="imagen de comillas(si disponible" alt="comillas" />
  <blockquote></blockquote>
  <p></p>
</div>

ejemplo:
<div class="quote">
  <img src="./src/imagenes/quote.png" alt="comillas" />
    <blockquote>
              “Estudiar en Codenotch ha sido la mejor decisión de mi vida. Tuve
              que replantearme mi vida profesional y decidí dar el salto al
              desarrollo web con este Bootcamp. ¡Y lo volvería a hacer 100
              veces! De 0 a héroe en sólo 3 meses, cada segundo de este curso ha
              sido una inversión valiosísima.”
    </blockquote>
    <p><span><strong>Isabel Sarmiento |</strong></span> Programadora en BCLC</p>
</div>
*/
.quote {
  padding: 3%;
}
.quote blockquote {
  padding-bottom: 3%;
  font-size: 1.2rem;
  font-style: italic;
}
.quote p {
  font-size: 0.8em;
}

/** Botones ---------*/
/* negro-azul */
.ctaBlackBlue {
  text-decoration: none;
  background-color: var(--negro);
  color: var(--blanco);
  padding: 1% 5%;
  margin-bottom: 5%;
  border: none;
  font-size: 16px;
  font-family: var(--texto);
  font-weight: 600;
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
}
.ctaBlackBlue:hover {
  background-color: var(--azulOscuro);
  color: var(--blanco);
  font-weight: 700;
}
/* negro-blanco */
.ctaBlackWhite {
  text-decoration: none;
  background-color: var(--negro);
  color: var(--blanco);
  padding: 1% 5%;
  margin-bottom: 5%;
  border: none;
  font-size: 16px;
  font-family: var(--texto);
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s, padding 0.3s;
}
.ctaBlackWhite:hover {
  background-color: var(--blanco);
  color: var(--azul);
  font-size: 20px;
  font-weight: 700;
  padding: 2% 6%;
}

/* azul-blanco */
.ctaBlueWhite {
  text-decoration: none;
  background-color: var(--azul);
  color: var(--blanco);
  padding: 1% 5%;
  margin-bottom: 5%;
  border: none;
  font-size: 16px;
  font-family: var(--texto);
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s, padding 0.3s;
}
.ctaBlueWhite:hover {
  background-color: var(--blanco);
  color: var(--negro);
  font-size: 20px;
  font-weight: 700;
  padding: 2% 6%;
}

/* azul-negro */
.ctaBlueBlack {
  text-decoration: none;
  background-color: var(--azul);
  color: var(--blanco);
  padding: 1% 5%;
  margin-bottom: 5%;
  border: none;
  font-size: 16px;
  font-family: var(--texto);
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s, padding 0.3s;
}
.ctaBlueBlack:hover {
  background-color: var(--negro);
  color: var(--blanco);
  font-size: 20px;
  font-weight: 700;
  padding: 2% 6%;
}

/* blanco-negro */
.ctaWhiteBlack {
  text-decoration: none;
  background-color: var(--blanco);
  color: var(--azul);
  padding: 1% 5%;
  margin-bottom: 5%;
  border: none;
  font-size: 16px;
  font-family: var(--texto);
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s, padding 0.3s;
}
.ctaWhiteBlack:hover {
  background-color: var(--negro);
  color: var(--blanco);
  font-size: 20px;
  font-weight: 700;
  padding: 2% 6%;
}

/** Lista con imagen ---------*/
/* Estructura HTML: 
<div class="imgListContainter">
          <div class="imgBox">
            <img
              src=""
              alt=""
            />
          </div>
          <div class="list">
            <h2>Titulo</h2>
            <p>Subtitulo</p>
            <ul>
            <li><span class="icon"><i></i></span>texto</li>
            <li><span class="icon"><i></i></span>texto</li>
            <li><span class="icon"><i></i></span>texto</li>
            </ul>
          </div>
        </div>

Ejemplo:
<div class="imgListContainter">
          <div class="imgBox">
            <img
              src="../imagenes/bootcamp-desarrollo-web-full-time-600x337.png"
              alt=""
            />
          </div>
          <div class="list">
            <h2>Full time</h2>
            <p>Inmersión total, enfoca tu formación</p>
            <ul>
              <li><span class="icon"><i class="fa-solid fa-calendar-days"></i></span>15 Semanas | Full Time</li>
              <li><span class="icon"><i class="fa-solid fa-clock"></i></i></span>Lunes a viernes | 9:30 - 18:00</li>
              <li><span class="icon"><i class="fa-solid fa-location-dot"></i></span>Presencial, en remoto o híbrido</li>
              <li><span class="icon"><i class="fa-solid fa-forward"></i>/span>Próxima convocatioria: <span>1-10-2024</span></li>
            </ul>
          </div>
        </div>
*/

.imgListContainter {
  padding: 5% 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
}
.imgBox {
  width: 50%;

}
.imgBox img{
  object-fit: cover;
  width:100%;
}
.listBox {
  width: 50%;
  text-align: left;
}
.listBox h2 {
  font-size: 2rem;
  padding-bottom: 2%;
}
.listBox p {
  font-weight: 700;
  padding-bottom: 8%;
}
.listBox ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-star;
}
#cursos .listBox ul h3 {
  color: gray;
  margin: 3% 0 -1% 5%;
  font-size: 0.9rem;
}
.listBox li {
  padding: 2% 0;
  border-bottom: 1px solid lightgray;
  list-style-position: outside;
  font-size: 0.9rem;
}


.listBox .iconList {
margin-right:1%;
padding-right: 5%;
}


