/** ------------------------------ PARAMETROS GENERALES ------------------------------ */
/**----------------------------------------------------------------------------------- */

/* ---- fuentes ---- */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");
@font-face {
  font-family: "consolas";
  src: url("../fuentes/consolas/Consolas.ttf");
}
@font-face {
  font-family: "Neutraface";
  src: url("../fuentes/Neutraface/Neutraface\ Text\ Light.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Neutraface";
  src: url("../fuentes/Neutraface/Neutraface\ Text\ Book.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Neutraface";
  src: url("../fuentes/Neutraface/Neutraface\ Text\ Demi.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neutraface";
  src: url("../fuentes/Neutraface/Neutraface\ Text\ Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Neutraface";
  src: url("../fuentes/Neutraface/Neutraface\ Text\ Light\ Italic.otf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Neutraface";
  src: url("../fuentes/Neutraface/Neutraface\ Text\ Book\ Italic.otf");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "Neutraface";
  src: url("../fuentes/Neutraface/Neutraface\ Text\ Demi\ Italic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Neutraface";
  src: url("../fuentes/Neutraface/Neutraface\ Text\ Bold\ Italic.otf");

  font-weight: bold;
  font-style: italic;
}
/* ---- Variables ---- */
:root {
  /* COLORES */
  --bg-primary: rgb(57, 55, 69);
  --bg-secondary: rgb(40, 44, 52);
  --blanco: #eeeeee;
  --amarillo: rgb(240, 219, 79);
  --highlight: #f0b34f;
  --morado: #6d679b;
  --negro-texto: #141414;

  /* FUENTES */
  --text: "Montserrat";
  --text-title: "Neutraface";

  /* IMAGENES CARDS */
  --background-image: "";
}

/* FORMATO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%; /*facilita el uso de los rem (1 rem=10px)*/
  font-weight: normal;
}

body {
  background-color: var(--bg-primary);
  font-size: 16px;
  font-family: var(--text);
  color: var(--blanco);
  overflow-x: hidden;
  height: 200vh;
  accent-color: var(--amarillo);
}

/* TÍTULOS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-title);
  font-weight: bold;
}

.section__title {
  font-size: 6rem;
  margin: 1rem auto;
  width: 100%;
  text-align: center;
}

/* COLORES DE TEXTO */
.morado {
  color: #c678dd;
}
.azul {
  color: #61afd1;
}
.verde {
  color: #98c379;
}
.amarillo {
  color: #f1d71b;
}
.rojo {
  color: #e06c75;
}
.blanco {
  color: var(--blanco);
}
.negro {
  color: var(--negro-texto);
}

/*  CONTENEDORES */
.container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  /* margin: 1rem auto; */
}
.wrapper {
  display: flex;
}
.--col50 {
  max-width: 50%;
}

/* flex */

.--column {
  flex-direction: column;
}
.--justify-center {
  justify-content: center;
}
.--justify-start {
  justify-content: flex-start;
}
.--justify-end {
  justify-content: flex-end;
}
.--justify-around {
  justify-content: space-around;
}
.--justify-evenly {
  justify-content: space-evenly;
}
.--justify-between {
  justify-content: space-between;
}
.--align-center {
  align-items: center;
}
.--align-start {
  align-items: flex-start;
}
.--align-end {
  align-items: flex-end;
}
.--align-base {
  align-items: baseline;
}

.visible {
  display: flex;
  opacity: 1;
}

/** ------------------------------ Menú ------------------------------ */
/**------------------------------------------------------------------- */

.nav {
  padding: 0 15%;
  background-color: var(--bg-primary);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav--scroll {
  box-shadow: 32px 32px 51px #1f1e26, -32px -32px 51px #535064;
  transition: box-shadow 0.3s;
}

.nav__brand {
  width: 50%;
  height: auto;
}

.nav__brand-logo {
  width: 40px;
  height: auto;
  background-color: var(--amarillo);
  border-radius: 5px;
}

.nav__icon input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.nav__icon {
  display: none;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
}

.checkmark span {
  width: 32px;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.nav__icon input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.nav__icon input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.nav__icon input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  opacity: 0;
}

.nav__tabs {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav__tab {
  margin: 0 1rem;
  width: 500px;
  text-align: center;
  white-space: nowrap;
}

.nav__link {
  opacity: 0.7;
  margin: 0 3rem;
  text-decoration: none;
  color: var(--blanco);
  font-family: var(--text-title);
  font-size: 2.3rem;
  transition: opacity 0.3s text-shadow 0.3s;
}

/* Navegación vertical */
.nav__container {
  width: 300px;
  margin: 0 2%;
  height: 100vh;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 99;
}

.nav__vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
  white-space: nowrap;
}

.nav__vertical-tabs {
  width: 50%;
  list-style: none;
}

.nav__vertical-link {
  opacity: 0.7;
  margin: 0 3rem;
  text-decoration: none;
  color: var(--blanco);
  font-size: 2.3rem;
  font-weight: 600;
  transition: opacity 0.3s, text-shadow 0.3s;
}

/** ------------------------------ footer ------------------------------ */
/**------------------------------------------------------------------- */

.footer {
  margin: 0 auto;
  padding: 1rem 5rem;
  color: var(--blanco);
  background-color: var(--bg-secondary);
  z-index: 1;
  display: flex;
}
.footer__column {
  margin: 2rem auto;
  font-family: var(--text-title);
  text-transform: uppercase;
  display: flex;
}

.footer__column:nth-child(odd) {
  font-size: 60px;
  width: 30%;
  padding: 1rem 0;
  border-bottom: 3px solid var(--blanco);
}

.footer__column:nth-child(odd):hover {
  animation: vibrar 0.5s infinite both ease-in-out;
}

.footer__content {
  padding: 2rem;
  display: flex;
}
.footer__img {
  width: 26%;
}

.footer__content h4 {
  padding: 1rem 0;
  font-size: 2rem;
}
.footer__content p {
  color: gray;
}

.social {
  padding: 2rem 0;
  display: flex;
  height: 70px;
  width: 300px;
}

.social svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}

.social .social-link1,
.social .social-link2,
.social .social-link3,
.social .social-link4,
.social .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: var(--blanco);
  font-size: 18px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 100px;
}

.social svg {
  transform: scale(1);
}

.social .social-link1:hover {
  background: #f09433;
  animation: rebote 0.4s linear;
}

.social .social-link2:hover {
  background-color: #242c34;
  border: 1px solid var(--blanco);
  animation: rebote 0.4s linear;
}

.social .social-link3:hover {
  background-color: #5662f6;
  animation: rebote 0.4s linear;
}

.social .social-link4:hover {
  background-color: #0a66c2;
  animation: rebote 0.4s linear;
}

.social .social-link5:hover {
  background-color: #ff8000;
  animation: rebote 0.4s linear;
}

.copyright {
  width: 100%;
  display: flex;
  padding: 0.5rem 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: var(--highlight);
  color: var(--negro-texto);
  font-family: var(--text-title);
}

.copyright__item {
  position: relative;
  margin: 0 1.5rem;
}

.copyright__item span {
  color: gray;
}


.copyright__item:first-of-type::after {
  content: "";
  display: inline-block;
  margin: 0 1rem;
  height: 55%;
  width: 1px;
  background-color: var(--negro-texto);
  position: absolute;
  top: 25%;
}
.copyright__item:nth-of-type(2)::after {
  content: "";
  display: inline-block;
  margin: 0 2rem;
  height: 80%;
  width: 2px;
  background-color: var(--negro-texto);
  position: absolute;
  top: 20%;
}
.copyright__item:last-child {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--bg-primary);
}
/** ------------------------------ hero ------------------------------ */
/**------------------------------------------------------------------- */

.hero__container {
  margin: 1rem 15rem;
  padding-top: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

.hero__column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__img-container {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.hero__img {
  background-color: var(--amarillo);
  width: 70%;
  height: 70%;
  border-radius: 30px;
  box-shadow: 32px 32px 51px #1f1e26, -32px -32px 51px #535064;
}

.hero__text-container {
  text-align: left;
  padding: 2rem 0;
  width: 100%;
  font-size: 3em;
  font-family: var(--text-title);
}
.hero__text--title {
  padding-bottom: 3rem;
}
.hero__text {
  padding-bottom: 1em;
  color: grey;
  font-size: 3.4rem;
  font-weight: 600;
}

/** ------------------------------ sobre mi ------------------------------ */
/**----------------------------------------------------------------------- */
#sobreMi {
  width: 100%;
  height: 900px;
  position: relative;
  padding: 3rem 0;
}
/* portrait */
.about__picture {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.about__picture {
  object-fit: cover;
  max-width: 40%;
  border-radius: 100%;
  box-shadow: 32px 32px 51px #1f1e26, -32px -32px 51px #535064;
}

/* contenido */
.about__content {
  width: 900px;
  margin: 0 auto;
  display: none;
  gap: 20px;
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: opacity 1.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about__content.visible {
  display: flex;
  opacity: 1;
}

/* timeline */
.timeLine__wrapper {
  display: flex;
  position: relative;
  width: 600px;
  height: 500px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

.subsection__title {
  padding: 5px 0;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: gray;
}

.timeLine__icons {
  margin-bottom: 20px;
}
.timeLine__icons:first-of-type {
  position: absolute;
  left: 50%;
}
.timeLine__icons:last-of-type {
  position: absolute;
  top: 80%;
  left: 50%;
}

#timeLine {
  content: "";
  position: absolute;
  background: var(--amarillo);
  width: 1px;
  height: 60%;
  left: 20%;
  top: 10%;
  margin: 2em auto;
}

.timeLine__child {
  position: absolute;
  width: 300px;
  margin: 20px;
  opacity: 0;
  float: left;
  border: 1px solid rgb(240, 219, 79, 0.3);
  border-radius: 0 30px 30px 30px;
  text-align: left;
  transition: opacity 1s, transform 1s;
}

.timeLine__child::before {
  content: "";
  position: absolute;
  background: var(--highlight);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: -30px;
}
.timeLine__child::after {
  content: "";
  position: absolute;
  background: var(--highlight);
  width: 10px;
  height: 2px;
  left: -10px;
  top: 10px;
}

.timeLine__content {
  width: 280px;
  padding: 5px;
  margin: 10px;
  color: white;
}
.--year {
  color: var(--highlight);
  font-size: 18px;
}
.--title {
  color: gray;
  font-size: 24px;
  padding: 5px 0;
}
.--text {
  font-size: 16px;
  font-weight: lighter;
}

/* Acordeon */

.acordeon__wrapper {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 3px;
  position: relative;
}
.acordeon {
  position: relative;
  top: 10%;
  display: flex;
}

.acordeon__container {
  margin: 0 0 1rem;
  padding: 0.5rem;
}

.acordeon__title {
  margin: 0 0 1rem;
  padding: 1rem;
  border: 1px solid rgb(240, 219, 79, 0.3);
  border-radius: 0 30px 30px 30px;
  font-size: 20px;
  font-weight: lighter;
  color: var(--blanco);
  text-shadow: 2px 3px 5px #1f1e26;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}
.acordeon__title:hover {
  box-shadow: 2px 4px 8px var(--bg-secondary);
}

.acordeon__content {
  height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(var(--bg-secondary), 0.5);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
  color: var(--blanco);
  transition: all 0.5s ease-out;
}

.acordeon__container.activo .acordeon__content {
  height: 200px;
  opacity: 1;
}

.acordeon__title::before {
  content: "";
  vertical-align: middle;
  border-top: 7px solid var(--amarillo);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  float: right;
  transform: rotate(0);
  transition: all 0.5s;
  margin-top: 5px;
}

.activo.acordeon__title::before {
  transform: rotate(-180deg);
}

.acordeon__content.activo {
  max-height: 500px;
  opacity: 1;
}
.acordeon__item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.acordeon__icon {
  padding: 0 15px;
}

.acordeon__text progress {
  justify-self: flex-end;
  width: 150px;
  appearance: none;
}

.acordeon__text progress::-webkit-progress-bar {
  align-self: flex-end;
  background-color: var(--bg-primary);
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.acordeon__text progress::-webkit-progress-value {
  background-color: var(--morado);
  border-radius: 10px 0 0 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/** ------------------------------ Proyectos ------------------------------ */
/**------------------------------------------------------------------------ */

.container--blanco {
  padding-top: 0;
  background-color: var(--blanco);
}

#proyectos {
  padding: 3rem;
}

.seleccion__wrapper {
  margin: 5rem auto;
  padding: 1rem 3rem;
  width: 30%;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-primary);
  border: 1px solid rgb(240, 219, 79, 0.3);
  border-radius: 30px;
  color: var(--blanco);
  text-wrap: balance;
  font-size: 18px;
}

.seleccion__input--select {
  width: 80%;
  border: none;
  border-bottom: 1px solid var(--amarillo);
  background-color: transparent;
  color: var(--blanco);
  background-color: var(--bg-primary);
}

.seleccion__input-select-option {
  background-color: inherit;
}

.card__container {
  display: flex;
  align-content: flex-end;
  flex-flow: row wrap;
  gap: 1rem;
  height: fit-content;
  width: 100%;
  margin: 2rem auto;
  padding: 0 20rem;
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  height: 30rem;
  width: 250px;
  min-width: 250px;
  max-width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 2rem;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-primary);
  transition: width 1s ease;
}

.card__fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.card__fade-in {
  opacity: 1;
  transform: translateY(0);
}

.card--background {
  height: 100%;
  z-index: 0;
}
.card--background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: var(
    --background-image
  ); /*desde js no se puede acceer directamente al pseudoelemento, asi que lo introducimos a través de una variable */
  filter: contrast(90%) brightness(80%) saturate(85%) hue-rotate(20deg);
  background-attachment: scroll;
  opacity: 1;
  transition: all 0.3s ease-in;
  z-index: -1;
}

.card--background:hover::after {
  opacity: 0.5;
}

/* Cambio de imagenes en cards (+js) */
.card--background::after.fade-out {
  opacity: 0;
}

.card--background::after.fade-in {
  opacity: 0.5;
}

.card__icon-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 99;
}

ul.card__icon-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card__icon-wrapper {
  margin: 0 10px;
  position: relative;
}

.card__icon-tooltip {
  position: absolute;
  top: -10px;
  left: 100%;
  transform: translateX(10%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  white-space: nowrap; /* Asegura que el texto no se divida en varias líneas */
  transition: all 0.3s ease;
}

.card__icon {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: #ffff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.card__icon[data-text="Práctica"] {
  color: gray;
}
.card__icon[data-text="Programación"] {
  color: #b0a666;
}
.card__icon[data-text="Front end"] {
  color: var(--highlight);
}
.card__icon[data-text="Back end"] {
  color: var(--morado);
}

.card__icon-wrapper:hover .card__icon-tooltip {
  opacity: 1;
  visibility: visible;
  top: 6px;
  font-weight: 700;
}

.card__icon:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
  color: white;
}

.card__icon svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.card__icon-container .card__icon-wrapper {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.card__icon:hover .filled {
  height: 100%;
}

.card__icon[data-text="Práctica"] .filled,
.card__icon[data-text="Práctica"] ~ .card__icon-tooltip {
  background-color: gray;
}

.card__icon[data-text="Programación"] .filled,
.card__icon[data-text="Programación"] ~ .card__icon-tooltip {
  background-color: #b0a666;
}

.card__icon[data-text="Front end"] .filled,
.card__icon[data-text="Front end"] ~ .card__icon-tooltip {
  background-color: var(--highlight);
}

.card__icon[data-text="Back end"] .filled,
.card__icon[data-text="Back end"] ~ .card__icon-tooltip {
  background-color: var(--morado);
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-evenly;
  width: 100%;
  height: 17rem;
  background-color: var(--amarillo);
  color: var(--negro-texto);
  text-align: center;
  z-index: 9;
  position: absolute;
  top: 85%;
  left: 0%;
  transition: top 0.5s ease;
}
.card:hover .card__content {
  top: 45%;
}

.card__title {
  color: var(--negro-texto);
  padding: 5px 10px;
  align-self: center;
  white-space: wrap;
  font-size: 3rem;
  font-weight: 800;
  z-index: 999;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-top: auto;
  align-items: center;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
}

.card__text {
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 18px;
}

.card__text--tag {
  font-weight: 700;
  text-align: left;
  color: gray;
  margin: 1rem 0;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 14px;
}

.card__text--link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--text-title);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--negro-texto);
  margin: 1rem 0;
  padding: 2px 5px;
  border-radius: 30px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease, color 0.5s ease;
}
.card__text--link::before {
  content: "ver";
  padding-right: 5px;
}
.card__text--link:hover,
.card__text--link:hover::before {
  color: var(--highlight);
}

.card:hover .card__icon,
.card:hover .card__text,
.card:hover .card__text--link,
.card:hover .card__text--tag,
.card:hover .card__content-text {
  opacity: 1;
}

/** ---------------------------- Contacto ---------------------------- */
/**------------------------------------------------------------------- */

#contacto {
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#contacto::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../media/logo/JTA-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  opacity: 0.1;
}
.datos__contacto {
  font-family: var(--text-title);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.datos__contacto-elemento {
  font-family: var(--text-title);
  font-size: 4rem;
  padding-bottom: 4rem;
  position: relative;
}
.datos__contacto-label {
  color: gray;
  font-size: 3rem;
  padding: 5px;
  margin-top: 5px;
  position: relative;
  left: -5%;
  overflow: hidden;
  z-index: 1;
}

.datos__contacto-label::before {
  content: attr(data-text);
  position: absolute;
  height: 1px;
  left: 2;
  top: 1;
  width: 0;
  white-space: nowrap;
  color: var(--highlight);
  background-image: linear-gradient(
    to right,
    var(--amarillo) 0%,
    var(--morado) 100%
  );
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.datos__contacto-label:hover::before {
  width: 65%;
}

.boton {
  margin: 1rem auto;
  align-self: center;
  padding: 1rem 2rem;
  width: 9em;
  border: none;
  border-radius: 30px;
  font-family: var(--text-title);
  color: var(--blanco);
  cursor: pointer;
  z-index: 1;
  background: var(--bg-secondary);
  position: relative;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.boton--bg {
  background-color: var(--bg-primary);
}

.boton--no-bg {
  cursor: pointer;
  background-color: transparent;
  color: var(--blanco);
  border: none;
}

.boton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--amarillo);
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.boton:hover {
  color: var(--negro-texto);
}

.boton:hover::before {
  width: 100%;
}

/* side panel */
.side-panel {
  height: 100%;
  width: 25vw;
  min-width: 400px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 100%;
  /* box-shadow: -7px -1px 32px 7px rgba(24, 13, 13, 0.75); */
  background-color: var(--bg-secondary);
  overflow: hidden;
  transition: 0.5s;
  padding: 13vh 0;
  transition: 0.5s ease-out;
  display: flex;
}

.boton--cerrar {
  margin-right: 4rem;
  align-self: flex-end;
  font-size: 40px;
  cursor: pointer;
  color: var(--bg-primary);
  background-color: var(--highlight);
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--amarillo);
  border-radius: 100%;
  font-family: inherit;
  transition: all 0.5s ease;
}

.boton--cerrar:hover {
  color: var(--amarillo);
  background-color: var(--bg-primary);
  border: 1px solid var(--highlight);
}

/* Formulario */
.form__wrapper {
  background-color: transparent;
  width: 80%;
  margin-bottom: 0;
  display: flex;
}
.form__header {
  margin: 2rem auto;
  display: flex;
  font-size: 3.5rem;
  width: 80%;
  border-bottom: 1px solid white;
}

.form__input--fila {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;
}

.form__label {
  font-family: var(--text-title);
  font-size: 18px;
  color: gray;
  padding: 1rem 0;
}

.form__input {
  display: inline-block;
  border: 1px solid var(--highlight);
  border-radius: 0 15px;
  padding: 1.5rem;
  color: var(--blanco);
  background-color: var(--bg-primary);
  transition: padding 1s ease, color 0.3s ease;
}
textarea.form__input {
  height: 10rem;
  border-radius: 0 15px;
}

.form__input:focus {
  outline: none;
}

.form__input::placeholder {
  transition: color 0.5s ease;
}

.form__input:hover::placeholder {
  color: var(--amarillo);
}

/** --------------------------- ANIMACIONES --------------------------- */
/**------------------------------------------------------------------- */
/*? ------ animaciones nav  ------ */
/* ------------------------------ */

.scale {
  transition: transform 0.3s, opacity 0.3s;
}

.scale:hover {
  transform: scale(1.1, 1.1);
}
.nav__link:hover {
  opacity: 1;
  text-shadow: 0 0 10px var(--amarillo);
}
.nav__link:active {
  color: var(--amarillo);
}

/*? ------ animaciones hero ------ */
/* ------------------------------ */

/* texto subrayado */

.text__underline {
  display: inline-block;
  position: relative;
}

.text__underline::after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 0;
  height: 6px;
  opacity: 0.5;
  background-color: var(--morado);
  transition: width 0.3s ease-in-out;
}
.text__underline::before {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  top: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  color: var(--highlight);
  transition: width 0.3s ease-in-out;
}

.text__underline:hover::after {
  width: 100%;
}
.text__underline:hover::before {
  width: 100%;
}

/* Texto tecleado */

.text__animation {
  font-size: 3rem;
  position: relative;
}
.text__animation::before {
  content: "Desarrollador web Full Stack;";
  color: var(--highlight);
  animation: palabras 20s infinite;
}
.text__animation::after {
  content: "";
  position: absolute;
  width: calc(100% + 25px);
  height: 40px;
  background-color: var(--bg-primary);
  border-left: 2px solid var(--blanco);
  right: -25px;
  animation: cursor 0.8s infinite, teclear 20s steps(14) infinite;
}

@keyframes cursor {
  from {
    border-left: 2px solid var(--blanco);
  }
  to {
    border-left: 2px solid var(--bg-primary);
  }
}

@keyframes palabras {
  0%,
  20% {
    content: "Full Stack";
  }
  21%,
  40% {
    content: "JavaScript";
  }
  41%,
  60% {
    content: "Angular";
  }
  61%,
  80% {
    content: "Node.js";
  }
  81%,
  100% {
    content: "SQL/MongoDB";
  }
}

@keyframes teclear {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 25px);
  }
}

/*? ------ animaciones sobre mí ------ */
/*? ---------------------------------- */

/* retrato */

.animacion-latido {
  animation: latido 1.5s ease-in-out both;
}
.animacion-contenido {
  animation: desplazar 1s ease-out forwards;
}

.animacion-retrato {
  animation: retrato 1s ease-out forwards;
}

/* animacion timeline */

.timeLine__mostrar {
  opacity: 1;
  transform: translateY(0);
  animation: mostrar 1s cubic-bezier(0.99, -7, 0.2, 1.9);
}

.timeLine__ocultar {
  opacity: 0;
  transform: translateY(0);
  animation: ocultar 1s cubic-bezier(0.99, -7, 0.2, 1.9);
}
.timeLine_vibrar {
  animation: vibrar 0.3s linear both;
}

@keyframes mostrar {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes ocultar {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(250px);
    opacity: 0;
  }
}

@keyframes retrato {
  0% {
    width: 40%;
  }
  10% {
    transform: translateY(30px);
    animation-timing-function: ease-in;
    width: 80%;
  }
  15% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    width: 40%;
  }
  100% {
    width: 10%;
    transform: translate(-300px, -230px);
    animation-timing-function: ease-in-out;
  }
}
@keyframes desplazar {
  from {
    top: 100%;
  }
  to {
    transform: translateY(-110%) scale(1.2);
  }
}

@keyframes pulso {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}

@keyframes latido {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);

    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes vibrar {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

/*? ------ animaciones footer ------ */
/*? ---------------------------------- */

@keyframes rebote {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/** --------------------------- RESPONSIVE --------------------------- */
/**------------------------------------------------------------------- */

/*! Tablet //////////////////////////// */

@media screen and (max-width: 850px) {
  /*? -------------  Menú ------------- */

  .nav {
    flex-wrap: wrap;
    box-shadow: 32px 32px 51px #1f1e26, -32px -32px 51px #535064;
  }
  .nav__brand-logo {
    width: 50px;
  }
  .nav__icon {
    display: block;
  }
  .nav__tabs {
    display: none;
  }

  .visible {
    display: flex;
  }

  .nav__tabs--responsive {
    overflow: hidden;
    list-style: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 0;
    position: fixed;
    text-align: center;
    background-color: #363441;
    transition: all 250ms ease-out;
  }

  .nav__tabs--responsive.desplegado {
    height: 150px;
  }

  .nav__tab--responsive {
    padding: 0.5rem 0;
  }

  /*? -------------  Hero ------------- */

  .hero__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__column {
    width: 100%;
  }

  .hero__img-container {
    justify-content: center;
  }

  .hero__text-container {
    text-align: center;
  }

  /*? -------------  Sobre mí ------------- */

  #sobreMi {
    padding: 0 2rem;
  }

  .timeLine__wrapper {
    left: 3%;
  }

  .acordeon__wrapper {
    right: 5%;
  }

  /*? -------------  Proyectos ------------- */

  #proyectos {
    padding: 3rem 1rem;
  }

  .seleccion__wrapper {
    width: 55%;
  }

  .card__container {
    padding: 0 1rem;
  }

  /*? -------------  contacto ------------- */
  /* desplazamiento de side-panel controlado en main.js */

  /*? -------------  Footer ------------- */
  .footer {
    padding: 1rem;
    flex-direction: column;
  }

  .footer__column:nth-child(odd) {
    width: 100%;
  }

  .footer__column:nth-child(even) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__img {
    width: 50%;
  }

  .footer__content {
    justify-content: center;
    align-items: center;
  }

  .social {
    margin: 0 auto;
    justify-content: center;
  }
}

/*! MÓVIL //////////////////////////// */

@media screen and (max-width: 450px) {
  /*? -------------  Menú ------------- */

  /* listo con el de tablet */

  /*? -------------  Hero ------------- */

  .hero__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__column {
    width: 300px;
  }

  /*? -------------  Sobre mí ------------- */

  #sobreMi {
    height: 1000px;
  }

  #sobreMi .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .timeLine__wrapper {
    left: 0%;
  }

  #timeLine {
    left: 5%;
    height: 80%;
  }

  .timeLine__child {
    width: 270px;
  }

  .timeLine__content {
    width: 250px;
  }

  .timeLine__icons:last-of-type {
    top: 90%;
  }

  .acordeon__wrapper {
    width: 100%;
    right: 5%;
    margin: 3rem auto;
  }

  .acordeon__wrapper {
    right: 0;
  }
  /*? -------------  Proyectos ------------- */
  /* listo con el de tablet */

  /*? -------------  contacto ------------- */
  /* desplazamiento de side-panel controlado en main.js */
  .datos__contacto-elemento {
    font-size: 3rem;
  }

  .datos__contacto-label {
    font-size: 2rem;
  }

  /*? -------------  Footer ------------- */
  .footer__column:nth-child(odd) {
    font-size: 40px;
  }
  .footer__column:nth-child(odd) i{
    font-size: 70%;
  }
  .copyright {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .copyright__item {
    padding: 1rem 1rem;
  }

  .copyright__item:first-of-type::after {
    display: none;
  }
  .copyright__item:nth-of-type(2) {
    width: 100px;
    white-space: nowrap;
  }

  .copyright__item:nth-of-type(2)::after{
    display:none;
  }
  .copyright__item:last-of-type {
    width: 50px;
    height: 50px;
    justify-self: center;
  }

}
