/** ------------------------------ PARAMETROS GENERALES ------------------------------ */
/**----------------------------------------------------------------------------------- */

/* ---- fuentes ---- */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");

/* ---- Variables ---- */
:root {
  /* COLORES */
  --bg-primary: #393745;
  --bg-secondary: #282c34;
  --blanco: #eeeeee;
  --amarillo: #f0db4f;
  --highlight: #f0b34f;
  --morado: #6d679b;
  --negro-texto: #141414;

  /* FUENTES */
  --text: "Roboto", sans-serif;
  --text-title: "Montserrat", sans-serif;
}

/* FORMATO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%; /*facilita el uso de los rem (1 rem=10px)*/
}

body {
  background-color: var(--bg-primary);
  font-size: 16px;
  font-family: var(--text);
  color: var(--blanco);
  overflow-x: hidden;
  height: 200vh;
}

/* TITUTOLOS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-title);
}

/* COLORES DE TEXTO */
.morado {
  color: #c678dd;
}
.azul {
  color: #61afd1;
}
.verde {
  color: #98c379;
}
.amarillo {
  color: #f1d71b;
}
.rojo {
  color: #e06c75;
}
.blanco {
  color: var(--blanco);
}
.negro {
  color: var(--negro-texto);
}

/*  CONTENEDORES */
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0 auto;
  padding: 200px 0 0;
}

.wrapper--column {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/** ------------------------------ Menú ------------------------------ */
/**------------------------------------------------------------------- */

.nav {
  padding: 0 15%;
  background-color: var(--bg-primary);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav--scroll {
  box-shadow: 32px 32px 51px #1f1e26, -32px -32px 51px #535064;
  transition: box-shadow 0.3s;
}

.nav__brand {
  width: 50%;
  height: auto;
}

.nav__brand-logo {
  width: 40px;
  height: auto;
  background-color: var(--amarillo);
  border-radius: 5px;
}

.nav__icon {
  display: none;
}

.nav__tabs {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav__tab {
  margin: 0 1rem;
  width: 500px;
  text-align: center;
  white-space: nowrap;
}

.nav__link {
  opacity: 0.7;
  margin: 0 3rem;
  text-decoration: none;
  color: var(--blanco);
  font-size: 2.3rem;
  font-weight: 600;
  transition: opacity 0.3s text-shadow 0.3s;
}

/* Navegación vertical */
.nav__container {
  width: 300px;
  margin: 0 2%;
  height: 100vh;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 99;
}

.nav__vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
  white-space: nowrap;
}

.nav__vertical-tabs {
  width: 50%;
  list-style: none;
}

.nav__vertical-link {
  opacity: 0.7;
  margin: 0 3rem;
  text-decoration: none;
  color: var(--blanco);
  font-size: 2.3rem;
  font-weight: 600;
  transition: opacity 0.3s, text-shadow 0.3s;
}

/** ------------------------------ hero ------------------------------ */
/**------------------------------------------------------------------- */

.hero__container {
  margin: 1rem 15rem;
  position: relative;
  top: 15vh;
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  margin-bottom: 20em;
}

.hero__column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__img-container {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.hero__img {
  background-color: var(--amarillo);
  width: 70%;
  height: 70%;
  border-radius: 30px;
  box-shadow: 32px 32px 51px #1f1e26, -32px -32px 51px #535064;
}

.hero__text-container {
  text-align: left;
  padding: 2rem 0;
  width: 100%;
  font-size: 3em;
  font-family: var(--text-title);
}
.hero__text--title {
  padding-bottom: 3rem;
}
.hero__text {
  padding-bottom: 1em;
  font-size: 3.4rem;
  font-weight: 600;
}

/** ------------------------------ sobre mi ------------------------------ */
/**----------------------------------------------------------------------- */

.console {
  border-radius: 30px;
}

.console__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 5px 30px;
  background-color: var(--bg-primary);
  border: 2px solid var(--blanco);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.console__window {
  background-color: var(--bg-secondary);
  padding: 5px 30px;
  border: 2px solid var(--blanco);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: darkgrey;
  box-shadow: 32px 32px 51px #1f1e26, -32px -32px 51px #535064;
}

.console__window a {
  color: inherit;
}

.console__window pre {
  margin-left: 0;
  padding-left: 20px;
  text-align: left;
}

.button {
  padding: 15px 20px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: absolute;
  top: calc(60%);
  color: var(--blanco);
  z-index: 1;
  transition: top 0.5s ease-in;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}
.button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}
.button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.model3D__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  position: relative;
  top: -100px;
  border-radius: 30px;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background: rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.18);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  border: 1px solid rgba(57, 55, 69, 0.66);
  box-shadow: 32px 32px 51px #1f1e26, -32px -32px 51px #535064;
}

.model3D__container.desplegar-animation + .button {
  top: calc(90% + 20px);
}

.model3D {
  height: 500px;
  width: 70%;
  z-index: 99;
}
.data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1% 3%;
  color: var(--negro-texto);
  font-size: 30px;
  font-weight: 800;
  border-radius: 30px;
  width: 100%;
}
.slider {
  display: none;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 30px;
  background: rgb(238, 238, 238, 0.2);
  padding: 2% 5%;
  margin: 0 3%;
  width: 100%;
  height: 550px;
}

.slider__visible {
  display: flex;
}
.slider__control {
  height: 100%;
  color: var(--blanco);
  height: 100%;
  position: relative;
  transition: color 0.3s;
}

.slider__control:hover {
  color: var(--amarillo);
  animation: pulso 0.3s linear alternate-reverse infinite;
}

.slider__title {
  padding: 2% 0;
  color: var(--blanco);
  text-shadow: 2px 3px 5px #1f1e26;
  width: 100%;
  text-align: center;
}
.slider__text {
  width: 100%;
  font-size: 18px;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
  gap: 20px;
  font-size: 14px;
  color: var(--blanco);
}
.slider__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.slider__icon {
  padding: 0 15px;
}

.slider__item--portrait {
  padding: 10px 0;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 18px;
}
.slider__icon--portrait {
  margin: 0 5%;
  justify-self: flex-start;
  align-self: center;
}

.slider__text progress {
  justify-self: flex-end;
  width: 150px;
  -webkit-appearance: none;
  appearance: none;
}

.slider__text progress::-webkit-progress-bar {
  align-self: flex-end;
  background-color: var(--bg-primary);
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.slider__text progress::-webkit-progress-value {
  background-color: var(--morado);
  border-radius: 10px 0 0 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.no-bg {
  opacity: 0.2;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.slider__button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: var(--bg-primary);
  color: var(--amarillo);
  border-radius: 30px;
  transition: color 0.3s, background-color 0.3s;
  animation: latido 1.5s ease-in-out infinite both;
}
.slider__button:hover {
  color: var(--bg-primary);
  background-color: var(--blanco);
}

/** ------------------------------ Proyectos ------------------------------ */
/**------------------------------------------------------------------------ */

.container--blanco {
  padding-top: 0;
  background-color: var(--blanco);
}

.card__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
}

.card {
  border-radius: 30px;
  padding: 2rem;
  height: 30rem;
  max-width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
}

.card__icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.card__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0.5rem;
  width: 3em;
  height: 2em;
  border-radius: 50px;
  color:var(--blanco);
  z-index: 99;
  transition: width 0.3s ease-out;
}

.card__icon svg {
  position: absolute; 
  left: 1rem; 
}

.card__icon::after {
  content: ''; 
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s ease;
  position: absolute;
  left: 3em;
  white-space: nowrap; 
}

.card__icon:hover {
  width: 10em;
}

.card__icon:hover::after {
  content: attr(data-text); 
  opacity: 1; 
}

.card__icon--practica {
  background-color: var(--blanco);
  font-weight: 700;
  color:var(--negro-texto);
  top: 0;
}

.card__icon--programacion {
  background-color: #b0a666;
  font-weight: 700;
  top: 35px;
}

.card__icon--front-end {
  background-color: var(--highlight);
  font-weight: 700;
  top: 70px;
}

.card__icon--back-end {
  background-color: var(--morado);
  font-weight: 700;
  top: 105px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}


.card:hover .card__content {
opacity: 1;
}

.card__title {
  margin-bottom: 1rem;
  margin-left: 10rem;
  padding-right: 0.5em;
  width: 100%;
  text-align: left;
  font-size:3rem;
  font-weight: 800;
  color: var(--blanco);
}

.card__text {
  margin-top: 12rem;
}



/** --------------------------- ANIMACIONES --------------------------- */
/**------------------------------------------------------------------- */
/*? ------ animaciones nav  ------ */
/* ------------------------------ */

.scale {
  transition: transform 0.3s, opacity 0.3s;
}

.scale:hover {
  transform: scale(1.1, 1.1);
}
.nav__link:hover {
  opacity: 1;
  text-shadow: 0 0 10px var(--amarillo);
}
.nav__link:active {
  color: var(--amarillo);
}

/*? ------ animaciones hero ------ */
/* ------------------------------ */

/* texto subrayado */

.text__underline {
  display: inline-block;
  position: relative;
}

.text__underline::after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 0;
  height: 6px;
  opacity: 0.5;
  background-color: var(--morado);
  transition: width 0.3s ease-in-out;
}
.text__underline::before {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  top: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  color: var(--highlight);
  transition: width 0.3s ease-in-out;
}

.text__underline:hover::after {
  width: 100%;
}
.text__underline:hover::before {
  width: 100%;
}

/* Texto tecleado */

.text__animation {
  font-size: 3rem;
  position: relative;
}
.text__animation::before {
  content: "Desarrollador web Full Stack;";
  color: var(--highlight);
  animation: palabras 20s infinite;
}
.text__animation::after {
  content: "";
  position: absolute;
  width: calc(100% + 25px);
  height: 40px;
  background-color: var(--bg-primary);
  border-left: 2px solid var(--blanco);
  right: -25px;
  animation: cursor 0.8s infinite, teclear 20s steps(14) infinite;
}

@keyframes cursor {
  from {
    border-left: 2px solid var(--blanco);
  }
  to {
    border-left: 2px solid var(--bg-primary);
  }
}

@keyframes palabras {
  0%,
  20% {
    content: "Full Stack;";
  }
  21%,
  40% {
    content: "JavaScript";
  }
  41%,
  60% {
    content: "Angular";
  }
  61%,
  80% {
    content: "Node.js";
  }
  81%,
  100% {
    content: "SQL/MongoDB";
  }
}

@keyframes teclear {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 25px);
  }
}

/*? ------ animaciones sobre mí ------ */
/* ---------------------------------- */

@keyframes pulso {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}

@keyframes latido {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);

    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.rwd-animation {
  animation: rwd 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rwd {
  0% {
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

.ffw-animation {
  animation: rwd 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rwd {
  0% {
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

.ejecutar-animation {
  animation: ejecutar 0.5s ease-out forwards;
}
.cerrar-animation {
  animation: cerrar 0.5s ease-out forwards;
}

@keyframes ejecutar {
  0% {
    transform: scale(1, 1);
  }
  15% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.8, 0.8) translate(0, -70px);
  }
}

@keyframes cerrar {
  0% {
    transform: scale(0.8, 0.8) translate(0, -70px);
  }
  15% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.desplegar-animation {
  animation: desplegar 0.5s forwards;
}
.ocultar-animation {
  animation: ocultar 0.5s forwards;
}
@keyframes desplegar {
  from {
    transform: translateX(90%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes ocultar {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(90%);
    opacity: 0;
  }
}

/*? ------ animaciones proyectos ------ */
/* ----------------------------------- */

/** --------------------------- RESPONSIVE --------------------------- */
/**------------------------------------------------------------------- */

/*? -------------  Menú ------------- */

@media screen and (max-width: 850px) {
  .nav {
    flex-wrap: wrap;
    box-shadow: 32px 32px 51px #1f1e26, -32px -32px 51px #535064;
  }
  .nav__brand-logo {
    width: 50px;
  }

  .nav__tabs {
    display: none;
  }

  .visible {
    display: flex;
  }

  .nav__tabs--responsive {
    overflow: hidden;
    list-style: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 0;
    position: fixed;
    text-align: center;
    background-color: #363441;
    transition: all 250ms ease-out;
  }

  .nav__tabs--responsive.desplegado {
    height: 150px;
  }

  .nav__tab--responsive {
    padding: 0.5rem 0;
  }
}

/* todo RESPONSIVE HERO */
